.darkbg {
    background-color: #1a1d20;
    width: 15rem;
}
.title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    background-color: #5b8dff;
    color: white;
}

.timerContainer {
    display: block;
    text-align: center;
    padding: 0.5rem;
}
.timerTitle {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.1rem;
}
.timerDisplay {
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
}

.timerForm {
    display: block;
    text-align: center;
    padding: 0.5rem;
}
.form-label {
    font-weight: bold;
}

.form-control {
    text-align: center;
    width: 10px;
}

.hiddenText {
    display: none;
    text-align: center;
    color: red;
    font-size: 12px;
    padding-bottom: 5px;
}
